.forcaContainer {
  margin-top: -15px;
  margin-bottom: 25px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
}

.barras {
  display: flex;
  gap: 6px;
  width: 100%;
}

.barra {
  height: 6px;
  flex: 1;
  background-color: #e2e8f0;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

/* Quando a barra estiver ativa, ela herda a cor do container pai via classe */
.ativa { background-color: #e2e8f0; } /* Cor base */

/* Classes de cor aplicadas às barras ativas */
.fraca .barraAtiva { background-color: #E11D48; }
.media .barraAtiva { background-color: #f39c12; }
.forte .barraAtiva { background-color: #2ecc71; }

.forcaTexto { font-size: 13px; color: #64748b; }
.fraca strong { color: #E11D48; }
.media strong { color: #f39c12; }
.forte strong { color: #2ecc71; }