main {
    min-height: calc(100vh - 90px);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 20px 40px;
}

/* ============================= */
/* CARD */
/* ============================= */
.card {
    width: 100%;
    max-width: 800px;
    padding: 40px 30px;
    border-radius: 20px;
    background-color: var(--color-bg-card);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
    display: flex;
    flex-direction: column;
}

/* ============================= */
/* TIPO DE CONTA */
/* ============================= */
.tipoConta {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 30px;
}

/* ============================= */
/* CONTA EXISTENTE */
/* ============================= */
.contaExistente {
    display: flex;
    justify-content: center;
    gap: 6px;
    margin-top: 20px;
    font-size: 14px;
}

.contaExistente p {
    color: #333333d7;
}

.contaExistente a {
    text-decoration: none;
    color: #000;
    font-weight: 500;
}

.contaExistente a:hover {
    text-decoration: underline;
}