.headerContainer {
    text-align: center;
    width: 100%;
    max-width: 1000px;
    margin: 5rem auto 1.5rem auto;
}

.title {
    font-size: 24px;
    font-weight: 700;
    color: #000000;
    margin-bottom: 0.5rem;
}

.subtitle {
    font-size: 14px;
    color: #666666;
    line-height: 1.4;
    margin: 0;
}