main {
    min-height: calc(100vh - 90px);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 20px 40px;
}

/* ============================= */
/* CARD */
/* ============================= */
.card {
    width: 100%;
    max-width: 800px;
    padding: 40px 30px;
    border-radius: 20px;
    background-color: var(--color-bg-card);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
    display: flex;
    flex-direction: column;
}

.inputGroup {
    display: flex;
    flex-direction: column;
    gap: 25px; /* Padrão de 25px do login */
    margin-bottom: 32px; 
}

/* Zera o espaçamento interno apenas entre os campos de senha */
.senhaGroup {
    display: flex;
    flex-direction: column;
    gap: 0;
}


/* ============================= */
/* ENDEREÇO */
/* ============================= */
.endereco {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
}

.endereco p {
    margin-top: 10px;
    font-size: 16px;
    font-weight: 600;
    color: #0a0a0a;
}

/* --- LINHA 1: CEP E BOTÃO --- */
.linhaCep {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
    width: 100%;
}

.btnNaoSeiCep {
    display: flex;
    align-items: center;
    background: transparent;
    border: none;
    color: #007bff;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    text-decoration: underline;
    margin-top: 22px;
    padding: 0;
}

.btnNaoSeiCep:hover {
    color: #0056b3;
}

/* --- LINHA 2: RUA E NÚMERO --- */
.linhaRuaNumero {
    display: flex;
    flex-direction: row;
    gap: 16px;
    width: 100%;
}

.inputRua {
    flex: 3; /* Faz o input da Rua ocupar a maior parte do espaço (75%) */
}

.inputNumero {
    flex: 1; /* Faz o input do Número ocupar um espaço menor (25%) */
}

/* ============================= */
/* TIPO DE CONTA */
/* ============================= */
.tipoConta {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 30px;
}

/* ============================= */
/* CONTA EXISTENTE */
/* ============================= */
.contaExistente {
    display: flex;
    justify-content: center;
    gap: 6px;
    margin-top: 20px;
    font-size: 14px;
}

.contaExistente p {
    color: #333333d7;
}

.contaExistente a {
    text-decoration: none;
    color: #000;
    font-weight: 500;
}

.contaExistente a:hover {
    text-decoration: underline;
}