.campoSenha {
    display: flex;
    flex-direction: column;
}

.label {
    font-size: 14px;
    font-weight: 500;
}

.inputWrapper {
    position: relative;
    width: 100%;
}

.input {
    width: 100%;
    height: 50px;
    padding: 0 16px;
    border-radius: 14px;
    border: 1px solid #dcdcdc;
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 30px;
    background-color: var(--color-bg-card);
    transition: border 0.2s, box-shadow 0.2s;
}

.senhaInput {
    padding-right: 44px;
}

.input:focus {
    outline: none;
    border: 1px solid #ffcc0060;
}

/* Borda vermelha + Sombra de 25% idêntica ao FormInput */
.input.erro {
    border: 1px solid #E11D48;
    box-shadow: 0px 4px 4px 0px rgba(225, 29, 71, 0.158);
}

.input.sucesso {
    border: 1px solid #2ecc71;
}

input[type='password']::-ms-reveal {
    display: none;
}

.eyeBtn {
    position: absolute;
    right: 12px;
    top: 30%;
    background: none;
    border: none;
    cursor: pointer;
    color: #333333e5;
    display: flex;
    align-items: center;
    justify-content: center;
}

.eyeBtn img {
    width: 20px;
    height: 20px;
}

.eyeBtn:hover {
    color: #000;
}

.erroSenha {
    font-size: 13px;
    color: #E11D48;
    margin-top: -20px;
    margin-bottom: 20px;
    display: block;
    font-weight: 500;
}

.forcaSenha {
    font-size: 13px;
    margin-top: -20px;
    margin-bottom: 15px;
    display: block;
}

.fraca {
    color: #E11D48;
}

.media {
    color: #f39c12;
}

.forte {
    color: #2ecc71;
}

/* Requisitos */
.requisitos {
    list-style: none;
    padding: 0;
    font-size: 13px;
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: 0.3s ease;
    margin-top: -10px;
    margin-bottom: 20px;
}

.requisitos.ativo {
    opacity: 1;
    max-height: 200px;
}

.requisitos li {
    margin-bottom: 4px;
    margin-left: 4px;
    color: #333333e5;
}

.ok {
    color: #2ecc71 !important;
}

.ok::before {
    content: '✔ ';
}

.reqErro {
    color: #E11D48 !important;
}

.reqErro::before {
    content: '✖ ';
}

/* Chacoalhar sutil para o campo de senha */
.shake {
    animation: gentleShake 0.4s ease-in-out;
}

@keyframes gentleShake {

    0%,
    100% {
        transform: translateX(0);
    }

    20%,
    60% {
        transform: translateX(-4px);
    }

    40%,
    80% {
        transform: translateX(4px);
    }
}